{% autoescape off %}
<p>Hi {{ user_username }},</p>

<p>This email confirms that your account with {{ site_name }} has now been deleted as per your request.</p>

<p>We're sorry to see you go! We're always trying to improve, and your feedback would be incredibly valuable to us. If you have a moment, we'd be grateful if you could let us know why you decided to leave by filling out this short questionnaire:</p>

<p>Share Your Feedback (2 minutes)</p>

    <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSeqjxwO5jntLDIWi982sp5JsZS_xloJw-FWhwlb7n43LJZhUw/viewform?usp=header" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #ffffff; text-decoration: none; border-radius: 5px;">Share Your Feedback (2 minutes)</a></p>
    <p><small>Or copy and paste this link into your browser: https://docs.google.com/forms/d/e/1FAIpQLSeqjxwO5jntLDIWi982sp5JsZS_xloJw-FWhwlb7n43LJZhUw/viewform?usp=header</small></p>

<p>Thank you for having been a part of our community. We hope you might consider us again in the future.</p>

<p>Sincerely,<br />
The {{ site_name }} Team</p>
{% endautoescape %}
